@page "/movies/details"
@using Microsoft.EntityFrameworkCore
@using Abc.Shared.Components
@using Abc.Data
@inject IDbContextFactory<Abc.Soft.Movies.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Movie</h2>
    <hr />
    @if (movie is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
		<MyEntityViewer Entity="movie" />

        //   <MyViewItem Label="Title" Value="@movie.Title"/>
        // <MyViewItem Label="ReleaseDate" Value="@movie.ReleaseDate.ToString()"/>
        // <MyViewItem Label="Genre" Value="@movie.Genre"/>
        // <MyViewItem Label="Price" Value="@movie.Price.ToString()"/>
        // <MyViewItem Label="Rating" Value="@movie.Rating"/>
        <div>
            <a href="@($"/movies/edit?id={movie.Id}")">Edit</a> |
            <a href="@($"/movies")">Back to List</a>
        </div>
    }
</div>

@code {
    private Movie? movie;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        movie = await context.Movie.FirstOrDefaultAsync(m => m.Id == Id);

        if (movie is null)
        {
            NavigationManager.NotFound();
        }
    }
}
